header{
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
  div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px 0;
    color: rgb(67, 67, 67);
    background-color: rgb(225, 222, 222);
    font-size: 15px;
  }
  .middleOfHeader{
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    align-items: center;
    width: fit-content;
    column-gap: 2vw;
    img{
      width: 200px;
      height: 99px;
    }
    p{
      font-size: 12px;
      margin: 0 30px 0 0;
      color: #505050;
      font-weight: 100;
    }
    div{
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      align-items: center;
      input{
        display: inline-block;
        border: #e3e3e3 solid 1px;
        width: 28em;
        height: 6.8vh;
        padding: 10px;
        border-radius: 5px;
        color: #a7a6a6;
        &:hover{
          border-color: #aba9a9;
        }
      }
  
      button{
        background-color: #ff9e75;
        padding: 15px;
        font-size: 15px;
        border-radius: 5px;
        color: white;

        &:hover{
          background-color: #cc886a;
        }
      }
    }
    ul{
      margin-left: 1em;
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      li{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
          color: #804c3e;
        }
      }
    }
  }


  .hrLine{
    margin: 20px 40px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #aba9a9;
  }
}