@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

$font: 'Ubuntu', sans-serif;

$lightGreen: #D1F366;
$green: #90AB39;
$black: #000;
$lightenBlack: #141627;
$gray: #5F647E;
$orange: #EC502C;
$darkenOrange: #CB4628;

$fontColor: #D0D4E7;